# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.env.*

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Test coverage
htmlcov/
.coverage
coverage.xml

# Build
build/
dist/
*.egg-info/
